* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*largura input em box */
}

img {
  border-radius: 50%;
  border: solid 0.25rem;
}


ul li a img {
  border: none;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}