* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*largura input em box */
}

ul {
   list-style: none;
}

body {
  background-image: url(./assets/Fundo.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

header {
  padding-top: 32px;
  height: calc(120px + 32px);
}

header div{
  transition: transform .3s;
}

header div:hover {
  transform: scale(1.1)
}

header img {
  border-radius: 50%;
  border: 0.25rem ;
  width: 120px;
  display: block;

  margin: auto;
  background-image: linear-gradient(90deg, #EC4899 0%, #0EA5E9 50.52%, #312E81 100%);
  padding: 4px;
}

body * {
  font-family: 'Montserrat', sans-serif;
}

main {
  max-width: 360px;
  width: 90%;
  margin: 32px auto;

  display: grid;
  gap: 24px;
}

section {
  overflow: hidden;
  color: white;
  background-image: linear-gradient(90deg, #EC4899 0%, #0EA5E9 50.52%, #312E81 100%);
  padding-top: 4px;
  border-radius: 10px;
}

section div {
  background-color: #2a2634;
  padding: 24px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2 {
  letter-spacing: -0.47px;
}

section p{
  letter-spacing: -0.18px;
  color: #A1A1AA;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

section ul li {
  transition: transform .3s;
}

section ul li:hover {
  transform: scale(1.1)
}

img{
  width: 95px;
  border-radius: 0.5rem;
  border: none;
}


/* animation */

header div {
  animation: fromTop .7s backwards;
  animation-delay: 1s;
}

@keyframes fromTop{
  from {
    opacity: 0;
    transform: translateY(-30px)
  }

  to{
    opacity: 1;
    transform: translateY(0)
  }
}

main section {
  animation: fromBottom .7s .2s backwards;
}

main section:nth-child(1) {
  animation-delay: 0s;
}
main section:nth-child(2) {
  animation-delay: .4s;
}
main section:nth-child(3) {
  animation-delay: .8s;
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(-30px)
  }

  to{
    opacity: 1;
    transform: translateY(0)
  }
}

/* swiper */
section ul {
  flex-wrap: nowrap;
  gap: 0;
}